@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  background-color: #0a0008;
  cursor: url('/cursor.png'), auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #490743;
}

::-webkit-scrollbar-thumb {
  background: #b804a6;
  transition: all 300ms ease;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff00e6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
