.background {
    height: 1080px;
    background: linear-gradient(rgba(0.5, 0.5, 0.5, 0.5), rgba(0.5, 0.5, 0.5, 0.5)), url("/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roadmap {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 260px;
    left: 130px;
}

.roadmap p{
    margin: 0px;
}

.first {
    display: flex;
    align-items: flex-start;
}

.fL {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paw{
    width: 30px;
    height: 30px;
    position: relative;
}

.roadmap{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fL .firstPaw {
    transform: rotate(30deg);
    top: 10px;
    left: 2px;
}

.fL .firstLine{
    width: 2px;
    height: 190px;
    background: white;
}

.firstTexts {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

.firstTexts p {
    margin: 0px;
}

.roadmapHeader {
    font-size: 1.3rem !important;
    font-weight: 500;
}

.roadmapText{
    display: flex;
    align-items: center;
}

.roadmapText div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin-right: 5px;
}

.second {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    margin-left: -303px;
    margin-right: 10px;
}

.secondLineLeft {
    display: flex;
}

.sLL {
    width: 350px;
    height: 2px;
    background: white;
    position: relative;
    top: 14px;
}

.secondLineLeft img {
    transform: rotate(150deg);
    margin-top: 30px;
    position: relative;
    left: 20px;
}

.sLL:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background: white;
    left: 0px;
}

.leftColumn .secondTexts {
    position: relative;
    left: 70px;
    top: -30px;
}

.leftColumn .secondTexts .roadmapText{
    align-items: flex-start;
}

.leftColumn .secondTexts .roadmapText div {
    position: relative;
    top: 8px;
}

.middleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleLine {
    height: 180px;
    width: 2px;
    background: white;
    position: relative;
    top: 3px;
}

.secondLineRight {
    display: flex;
}

.sLR {
    width: 330px;
    height: 2px;
    background: white;
    position: relative;
    top: 14px;
    left: 10px;
}

.secondLineRight img {
    transform: rotate(-150deg);
    margin-top: 30px;
    position: relative;
    left: -10px;
}

.sLR:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background: white;
    left: 330px;
}

.rightColumn .secondTexts {
    position: relative;
    top: -30px;
    left: -7px;
}

.thirdR {
    display: flex;
}

.thirdR > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdR div img {
    transform: rotate(-40deg);
    margin-left: 7px;
}

.thirdLine {
    width: 2px;
    height: 80px;
    background: white;
    position: relative;
    top: -10px;
}

.thirdR div .roadmapText {
    align-items: flex-start;
}

.thirdR div .roadmapText div {
    position: relative;
    top: 8px;
}

.thirdR div:nth-child(2){
    margin-left: 20px;
}

.third{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thirdR {
    position: relative;
   left: 65px;
   top: 20px;
}

.third > p {
    position: relative;
    top: 13px;
    left: 54px;
}

.fourR {
    display: flex;
}

.fourR > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourText {
    position: relative;
    left: 38px;
}

.fourR div img {
    transform: rotate(-220deg);
    margin-left: 7px;
}

.fourLine {
    width: 2px;
    height: 70px;
    background: white;
    position: relative;
    top: -10px;
}

.fourR div:nth-child(2){
    margin-left: 10px;
}

.four{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: -140px;
    top: 5px;
}

.fourR {
   position: relative;
   top: 20px;
   left: -50px;
}

.four > p {
    position: relative;
    top: 13px;
    left: 54px;
}

.tobe{
    font-size: .9rem;
}

.scroll {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
}

.circle {
    animation: upDown 800ms infinite alternate-reverse;
}

@keyframes upDown {
    0% {
      -webkit-transform: translate(262px, 798px);
      transform: translate(262px, 798px);
    }
    100% {
      -webkit-transform: translate(262px, 830px);
      transform: translate(262px, 830px);
    }
}


.wave {
   width: 100%;
   height: 350px;
   background-image: url("/wave.svg");
   transform: rotate(180deg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.gridOne {
    color: white;
    display: flex;
    width: 100%;
    margin-top: -100px;
    padding: 0 45px;
    justify-content: space-between;
}

.boxOne {
    display: flex;
}

.externalWrapper {
    margin-right: 150px;
}

.boxOne p{
    font-size: 1.7rem;
}

.boxOne p span {
    color: #D803A9;
}

.boxOne img {
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(30deg);
    top: 55px;
}


.nftImage img{
    width: 200px;
    height: 250px;
}

.gridText{
    font-size: 1.1rem;
    margin-top: -5px;
}

.gridTwo {
    color: white;
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding: 0 50px;
    justify-content: space-between;
}

.boxTwo {
    display: flex;
}

.externalWrapper {
    margin-right: 150px;
}

.boxTwo p{
    font-size: 1.7rem;
}

.boxTwo p span {
    color: #D803A9;
}

.boxTwo img {
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(30deg);
    top: 70px;
    left: -150px;
}


.nftImage img{
    width: 250px;
    height: 300px;
}

.gridText{
    font-size: 1.1rem;
    margin-top: -5px;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.gridTitle{
    font-size: 1.7rem;
}

.gridThree {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    color: white;
}

.box img {
    width: 25px;
    height: 25px;
    margin-right: 10px; 
    position: relative;
    top: 20px;
}

.gridTexts {
    margin-top: -20px;
    font-size: 1.1rem;
}

.carousel {
    display: flex;
    width: 100%;
    margin-top: 70px;
}

.carousel div{
    outline: none;
}

.carousel div img {
    width: 300px;
    height: 350px;
}

.whitepaper {
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}

.whitepaper a {
    padding: 10px 20px;
    background: #D803A9;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
}

.footer {
    background: #1a0215;
    margin-top: 50px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLogo {
    display: flex;
    color: white;
    align-items: center;
}

.footerLogo p {
    font-size: 1.3rem;
    margin-left: 10px;
}

.footerLogo p span {
    color: #D803A9;
}

.footerLogo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icons {
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

.icons svg {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.pie{
    color: white;
    padding: 0 45px;
    margin-top: 70px;
}

.pieTitle{
    font-size: 1.7rem;
}

.pieTexts{
    font-size: 1.1rem;
}

.pieChart{
    width: 350px;
    height: 400px;
}

.pieGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: flex-start;
}

.roadmapMobile{
    display: none;
    position: relative;
    top: 100px;
    margin-left: 15px;
    width: fit-content;
}

.roadmapMobile p{
    color: white;
    font-size: 1.15rem;
    margin: 0px;
    margin-top: 5px;
}

.roadmapMobile div{
    margin-top: 15px;
}

.roadmapMobile div div{
    display: flex;
    align-items: center;
}

.roadmapMobile div div img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


@media only screen and (max-width: 870px){
    .roadmap{
        display: none;
    }

    .roadmapMobile{
        display: flex;
        flex-direction: column;
    }

    .gridOne, .gridTwo{
        flex-direction: column;
        width: 100%;
        padding-right: 10px;
    }

    .externalWrapper{
        margin-right: 0px;
    }

    .pieGrid {
        grid-template-columns: 1fr;
        justify-items: start;
    }
}

@media only screen and (max-width: 850px){
    .carousel div {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important; 
    }
    
}

@media only screen and (max-width: 430px){
    .pieChart{
        width: 250px;
        height: 300px;
    }

    .footer {
        flex-direction: column;
    }

    .box img {
        margin-right: -20px;
        left: -30px;
    }

    .gridThree{
        padding-right: 5px;
    }
    
}