.background {
    width: 100%;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  
    border: 6px solid rgb(236, 236, 236);
    border-radius: 50%;
    border-top: 6px solid #b804a6;
    width: 40px;
    height: 40px;
    z-index: 214;
    transition: all 300ms ease-in;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.trigger{
    background: red;
    border-radius: 50%;
    position: sticky;
    opacity: 0;
    cursor: pointer;
}

.villageTrigger{
    width: 20vw;
    height: 30vh;
    margin-top: -22%;
    left: 3%;
}


.schoolTrigger{
    width: 15vw;
    height: 25vh;
    margin-top: -5%;
    left: 29%;
}


/* triggers responsive */

@media only screen and (max-width: 1200px){
    .schoolTrigger{
        margin-top: -7%;
    }
}

@media only screen and (max-width: 1015px){
    .schoolTrigger{
        height: 20vh;
    }
}

@media only screen and (max-width: 950px){
    .villageTrigger{
        margin-top: -23%;
        height: 25vh;
        left: 4%;
    }

    .schoolTrigger{
        height: 18vh;
    }
}

@media only screen and (max-width: 800px){
    .schoolTrigger{
        margin-top: -9%;
    }
}

@media only screen and (max-width: 720px){

    .villageTrigger{
        width: 110px !important;
        height: 100px !important;
    }

    .schoolTrigger{
        height: 15vh;
        margin-top: -6%;
    }
}

@media only screen and (max-width: 590px){

    .villageTrigger{
        width: 100px !important;
        height: 90px !important;
        left: 6%;
    }

    .schoolTrigger{
        height: 12vh;
    }
}

@media only screen and (max-width: 510px){

    .villageTrigger{
        width: 80px !important;
        height: 70px !important;
    }

    .schoolTrigger{
        height: 10vh;
    }
}

@media only screen and (max-width: 440px){

    .villageTrigger{
        height: 60px !important;
        width: 60px !important;
        margin-top: -24% !important;
    }

    .schoolTrigger{
        height: 8vh;
        margin-top: -20px;
    }
}