.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    background: linear-gradient(270deg, #35a7b7, #2d9868);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.text {
    padding-right: 10px;
    font-size: 1.1rem;
    position: relative;
    z-index: 76;
}

.image{
    height: 100vh;
    position: sticky;
    left:0;
    top: 0;
    z-index: 80;

}

.text p{
    margin-left: 10px;
}

.chapterTitle{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
}

@media only screen and (max-width: 950px){
    .image {
        width: 100vw;
        height: auto;
        position: relative;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}
