.village {
    display: grid;
    grid-template-columns: auto auto;
    color: black;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.text {
    background: linear-gradient(270deg, #35a7b7, #2d9868);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    padding-right: 10px;
    font-size: 1.1rem;
    position: relative;
    z-index: 76;
}

.image{
    height: 100vh;
    position: sticky;
    left:0;
    top: 0;
    z-index: 80;

}

.text p{
    margin-left: 20px;
}

@media only screen and (max-width: 600px){
    .image {
        width: 100vw;
        height: 550px;
        position: relative;
    }

    .village {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 430px){
    .image {
        width: 100vw;
        height: 450px;
        position: relative;
    }
}